<div class="outer-container">
    <div class="section-1">
        <img src="../../assets/logo2.jpg" alt="Image 1">
    </div>

    <div class="center-container">
        <div style="display: flex;">
            <div class="companyName">Name of Company</div>
            <div class="companyFollow">20K follow</div>
            <div class="companyFav">favourites</div>
        </div>
        <div class="companyText">
            <div>Excellent work and creative elusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <div>Ut enim ad minim veniam, quis nostrud.</div>
        </div>
        <div class="bottom-section">
            <div class="bottom-div" style="background-color: rgb(177, 116, 3);">Tourist</div>
            <div class="bottom-div" style="background-color: rgb(167, 64, 167);">City</div>
            <div class="bottom-div" style="background-color: rgb(67, 176, 67);">Architecture</div>
            <div class="bottom-div" style="background-color: rgb(215, 4, 4);">Mountain</div>
        </div>
    </div>

    <div class="section-3">
        <img src="../../assets/location2.jpg" alt="Image 3">
    </div>
</div>
