<footer class="main-footer">
    <div class="footer-row">
        <div style="width: 30%;">
            <div class="footer-Header">For Patients</div>
            <div class="footer-text" style=" border:1px solid white">
                <div class="footer-text-content">Home</div>
                <div class="footer-text-content">Dinner on a lake</div>
                <div class="footer-text-content">Camp on a lake</div>
            </div>
        </div>
        <div style="width: 70%;">
            <div class="footer-Header">For Healthcare Professionals</div>
            <div class="footer-text" style="display: flex;">
                <div style="width: 30%;">
                    <div class="footer-text-content">Privacy Policy</div>
                    <div class="footer-text-content">Terms of Service</div>
                    <div class="footer-text-content">Security and Privacy</div>
                </div>
                <div style="display: flex;width: 70%;">
                    <div style="width: 30%;">
                        <div class="footer-text-content">Facebook</div>
                        <div class="footer-text-content">Twitter</div>
                        <div class="footer-text-content">LinkedIn</div>
                    </div>
                    <div>
                        <div class="footer-text-content">1-347-394-7668</div>
                        <div class="footer-text-content">support@proofy.io</div>
                        <div class="footer-text-content">Hong Kong. Office Tower, Convention Plaza.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bootom">
        <div class="footer-bootom-left">
            @2016. All Rights Reserved.
        </div>
        <div>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-linkedin"></i>
        </div>
    </div>
</footer>
