<div class="navbar">
    <div class="filter-section">
        <div class="filter-dropdown">
            <i class="bi bi-funnel"></i>
            <div class="dropdown-arrow"></div>
            <div style="margin:0 130px 0 10px">Search Profiles</div>
        </div>
        <div class="search">
            <i class="bi bi-search"></i>
            <label for="search" style="margin-left: 5px;">Search</label>
        </div>
    </div>

    <div class="notification-section">
        <div style="display: flex;">
            <div class="notification-icon">
                <i class="bi bi-bell"></i>
                <div class="notification-dot"></div>
            </div>
            <div class="message-icon">
                <i class="bi bi-envelope"></i>
                <div class="message-dot"></div>
            </div>
            <div class="settings-icon">
                <i class="bi bi-gear"></i>
            </div>
        </div>
        <div class="user-section">
            <div class="left-section">
                <div class="circle">
                    <div>
                    </div>
                </div>
            </div>
            <div class="user-name">
                Greg Dlubacz 
            </div>
            <div class="dropdown-arrow1"></div>
        </div>
    </div>
</div>
