
<div class="container1">
    <div class="dropdown" style="width: 16%;">
      <label class="drpHeading">Region</label>
      <select>
        <option value="">Select a Region</option>
      </select>
    </div>
    <div class="dropdown" style="width: 16%;">
      <label class="drpHeading">Country</label>
      <select>
        <option value="">Select a Country</option>
      </select>
    </div>
    <div class="dropdown" style="width: 14%;">
      <label class="drpHeading">State</label>
      <select>
        <option value="">Select a State</option>
      </select>
    </div>
    <div class="dropdown" style="width: 14%;">
      <label class="drpHeading">City</label>
      <select>
        <option value="">Select a City</option>
      </select>
    </div>
    <div class="dropdown" style="width: 16%;">
      <label class="drpHeading">Company</label>
      <select>
        <option value="">Select a Company</option>
      </select>
    </div>
  
    <div class="clear-search-section" style="width:12%;margin: 1%;">
      <div style="color: red;font-weight: bold;">Clear All</div>
      <div class="search">
        <i class="bi bi-search"></i>
        <label for="search" style="margin-left: 5px;">Search</label>
      </div>
    </div>
  </div>