<div class="sidebar">
    <div class="logo">
        <img src="../../assets/drone.jpg">
        <div><span>Hubstaff</span> Talent</div>
    </div>
    <div class="sidebar-text"><i class="bi bi-speedometer"></i>Dashboard</div>
    <div class="sidebar-text"><i class="bi bi-person-fill"></i>Profile</div>
    <div class="sidebar-text" style="color: rgb(3, 157, 3);"><i class="bi bi-journal-check"></i>Courses</div>
    <div class="sidebar-text"><i class="bi bi-window"></i>Applications</div>
    <div class="sidebar-text"><i class="bi bi-people"></i>Students</div>
    <div class="sidebar-text"><i class="bi bi-mortarboard-fill"></i>Graduation</div>
    <div class="sidebar-text"><i class="bi bi-envelope-fill"></i>Email</div>
    <div class="sidebar-text"><i class="bi bi-graph-up"></i>Analytics</div>
    <div class="sidebar-text"><i class="bi bi-pc-display-horizontal"></i>My Works</div>
    <div class="sidebar-text"><i class="bi bi-calendar2-event"></i>Invites</div>
    <div class="sidebar-text"><i class="bi bi-gear"></i>Setting</div>
    <div class="sidebar-text1" style="margin-top: 40px;"><div class="workdot1"></div>Work</div>
    <div class="sidebar-text1"><div class="workdot2"></div>Looking for contact</div>
    <div class="sidebar-text1"><div class="workdot3"></div>Looking for hero</div>
</div>
